<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando uma tarefa:</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título">
        </div>
        <div class="form-control">
            <label for="description">Descrição:</label>
            <textarea name="description" placeholder="Digite a descrição"></textarea>
        </div>
        <input type="submit" value="Criar tarefa">
    </form>
</div>