<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>editar um Pensamento:</h1>
    <form action="/toughts/edit" method="POST">
        <input type="hidden" name="id" value="{{task.id}}">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="edite o pensamento" value="{{task.title}}">
        </div>
        <div class="form-control">
            <label for="description">Descrição:</label>
            <textarea name="description" placeholder="Edite a descrição">{{task.description}}</textarea>
        </div>
        <input type="submit" value="editar Pensamento">
    </form>
</div>